* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 12rem;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
}
